.wrapper{
    margin: 15px;
    
}

.face{
    width:100px;
    height:100px;
    border:solid 2px black; 
    background-color: grey;   
    border-radius: 35px;
    margin-left: 50px;
    position:relative;
    z-index:0;
}


.leftEar{
    width: 20%;
    height:50%;
    background-color: grey;
    border: solid 2px black;
    transform:rotate(160deg);
    border-radius: 50%;

}

.rightEar{
    width: 20%;
    height:50%;
    background-color: white;
    border: solid 2px black;
    transform:rotate(160deg);
    border-radius: 50%;
    position: relative;
    float:right;
}



.body{
    display:block;
    width:106px;
    height:160px;
    z-index: 1;
    position:relative;
    top:10;
    margin-left: 50px;
    background-color: grey;    
    border: solid 2px black;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}

.patch{
    width: 20px;
    height: 15px;  
    margin-left: 40px;
    background-color: white;
    border-radius: 35px;
}


.tail{
    width:150px;
    height:90px;
    margin-top: 75px;
    margin-left: 60px;
    border: solid 5px black;
    border-radius: 50%/100% 100px 0 0;
    border-color: black transparent transparent;
    transform: rotate(20deg);
}

